{"filter":false,"title":".htaccess","tooltip":"/application/.htaccess","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":0,"column":0},"end":{"row":0,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":480,"mode":"ace/mode/apache_conf"}},"timestamp":1475226860994,"hash":"cf2acee6a7734ec349d9f6ab3e612441b48e13d7"}