{"filter":false,"title":".htaccess","tooltip":"/.htaccess","ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":0,"column":0},"end":{"row":0,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0,"cleansed":true},"hash":"dbf4bed4a85afe84184ce36eacabd2fbf5480280","undoManager":{"mark":-1,"position":-1,"stack":[]},"timestamp":1465819298535}