<div class="container col-md-12" ng-controller="shareCtrl">
    <div class="panel panel-default" style="padding: 10px">
        <div class="panel-info"><h3 class="text-center">Share</h3></div>
        <div class="panel-body row">
            <div class="col-sm-6 col-md-3"></div>
            
            <div class="col-sm-6 col-md-3">
                <div class="thumbnail" ng-click="select('facebook')">
                    <img src="images/SNS.jpg" style="height: 200px">
                    <div class="caption">
                        <h3 class="text-center" >SNS</h3>
                        <p class="text-center">SNSにアンケート共有</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="thumbnail" ng-click="select('url')">
                    <img src="images/URL.jpg" style="height: 200px">
                    <div class="caption">
                        <h3 class="text-center">URL</h3>
                        <p class="text-center">URLにアンケート共有</p>
                    </div>
                </div>
            </div>
              <div class="col-sm-6 col-md-3"></div>
            <div class="col-sm-6 col-md-12" ng-switch="selected">
                <div ng-switch-when="facebook">
                    <ul ng-social-buttons
                        data-url="qrcodeString"
                        data-title="current_title"
                        data-description="current_description"
                        data-image="'https://www.google.com.ua/images/srpr/logo4w.png'"
                        showcounts="true">
                        <li>Share:</li>
                        <li class="ng-social-facebook">Facebook</li>
                        <li class="ng-social-google-plus">Google+</li>
                        <li class="ng-social-twitter">Twitter</li>
                    </ul>
                </div>
                <div ng-switch-when="url">
                    <div class="well">
                        <h5>URL</h5>
                        <div class="text-center">
                            <h2>
                                {{qrcodeString}}
                            </h2>
                        </div>
                    </div>
                </div>
                <div class="text-left">
                    <div ng-switch-default>選択してください。</div>
                </div>
            </div>
        </div>
    </div>
</div>

