<div class="well component" ng-mouseleave="eventHandler($event)" ng-mouseenter="eventHandler($event)"
     data-drag="true"
     ng-show="item.viewShow">

    <h3> {{item.num + 1}}.&nbsp;{{item.question_content}}
        <span class="pull-right label" ng-show="menuShow">
            <button class="btn btn-default" ng-click="endSetting()">수정</button>
            <button class="btn btn-default" ng-click="copyQuestion(item.index)" >복사</button>
            <button class="btn btn-danger" ng-click="removeQuestion(item.index)"> 삭제</button>
        </span>
    </h3>
    <div class="form-group">
        <input class="form-control" type="text" ng-model="item.answer"/>
    </div>
</div>