<div class="container" ng-controller="responseCtrl">
    <!--설문정보,제목-->
    <div class="panel panel-default" style="padding: 10px">
        <div class="text-center">
            <h1>{{questionnaire.s_subject}}</h1>
        </div>
         <div class="text-center">
          <h3>{{questionnaire.s_explain}}</h3>
        </div>
    </div>
    
    
    <div class="panel panel-default" style="padding: 10px">
            
        <div class="panel-body row">
            <div class="col-sm-6 col-md-6">
                <div class="thumbnail" ng-click="select('joined')">
                    <img src="images/logo1.jpg">
                </div>
            </div>
       
            <form class="col-sm-6 col-md-6 form-horizontal">
                <div class="form-group">
                    <label for="gender_man" class="col-sm-2 control-label"><h4>性別</h4></label>
                    <label for="gender_man" class="col-sm-2 control-label">男</label>
                    <div class="col-sm-3">
                        <input class="form-control" name="gender" id="gender_man" type="radio" value="man" ng-model="panel.gender">
                    </div>
                    <label for="gender_woman" class="col-sm-2 control-label">女</label>
                    <div class="col-sm-3">
                        <input class="form-control" name="gender" id="gender_woman" type="radio" value="woman" ng-model="panel.gender">
                    </div>
                </div>
                <div class="form-group">
                    <label for="age" class="col-sm-2 control-label"><h4>年齢</h4></label>
                    <div class="col-sm-10">
                        <input class="form-control" id="age" type="number" ng-model="panel.age">
                    </div>
                </div>
                <div class="form-group">
                    <label for="user_area" class="col-sm-2 control-label"><h4>職種</h4></label>
                    <div class="col-sm-10">
                        <select class="form-control" id="user_area" type="text" ng-model="panel.area">
                            <option ng-repeat="item in area" value={{item.code}}>{{item.name}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class=" col-sm-12 text-rig
                    ht">
                        <button type="submit" ng-click="panelJoin(panel)" class="btn btn-primary">アンケートスタート</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>